@font-face {
  font-family: Inter;
  src: url(../fonts/Inter.ttf);
}

:root {
  --color-green-dark: #52796f;
  --color-green-light: #84a98c;
  --color-white: #ffffff;
  --color-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Inter;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 4rem;
  background-color: var(--color-gray);
}

h1 {
  margin-block-end: 0.5rem;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.1rem;
  margin-block-end: 2rem;
}

.form-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 0.5rem;
  margin-block-end: 2rem;
}

.form-filters div {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.form-filters input,
.show-form input {
  padding: 0.7rem;
  border-radius: 25px;
  border: none;
  background-color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 600;
}

.form-filters input[type='text'],
.show-form input[type='text'] {
  width: 70%;
  border: 1px solid var(--color-green-dark);
  font-size: 0.9rem;
  text-align: center;
}

.form-filters input[type='submit'],
.show-form input[type='submit'] {
  width: 30%;
  background-color: var(--color-green-dark);
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
}

.form-filters input[type='button'] {
  width: 100%;
  background-color: var(--color-gray);
  border: 1px solid var(--color-green-dark);
  text-transform: uppercase;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  gap: 0.5rem;
  text-align: center;
}

.grid-container h3 {
  font-size: 1.1rem;
}

.grid-container article {
  padding: 1.5rem 0.5rem;
  background-color: var(--color-green-light);
  border-radius: 10px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bold {
  font-weight: 700;
}

.error-message {
  margin-block-end: 2rem;
  font-size: 1.5rem;
  color: red;
  font-weight: 600;
  display: none;
  text-align: center;
  padding-inline: 10%;
}

.show-error-message {
  display: block;
}

.new-movie {
  width: 60%;
  margin-block-end: 2rem;
}

.new-movie div {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.new-movie img {
  cursor: pointer;
  width: 25px;
}

.hide-icon {
  display: none;
}

.show-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  margin-block-end: 2rem;
  margin-block-start: 1rem;
}

.form-new-movie {
  display: none;
}

/* ! Tablet */

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ! Phone */

@media only screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    width: 70%;
  }

  form div {
    display: flex;
    flex-wrap: wrap;
  }

  input[type='text'],
  input[type='submit'] {
    width: 100%;
  }
}
